[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = JunJun
	email = 928595201@qq.com
[gui]
	recentrepo = E:/GitHubRepository
[http]
	sslVerify = false
	proxy = http://192.168.0.1:7890
[https]
	proxy = http://192.168.0.1:7890
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = "!f() { /root/.vscode-server/bin/0ee08df0cf4527e40edc9aa28f4b5bd38bbff2b2/node /tmp/vscode-remote-containers-81eb32d9-4e4f-4cc7-9b69-11ddc89a2a85.js git-credential-helper $*; }; f"
